<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/style3.css">
</head>
<body>
 <nav>
        <div class='f-logo'>
               <h2>BusTrack</h2>
            
           
        </div>
        <div class='register'>
            <a href='../'>
                <button class="lg" type='submit'>Logout</button>
            </a>
        </div>
    </nav> 
    
    <input type="text" hidden id="source" value="{{source}}">
      <input type="text" hidden id="dest" value="{{dest}}">
        <input type="date" hidden id="date" value="{{date}}">
      <div class="buslist">

      </div>
<script src="/js/route.js">  

</script>
</body>

</html>