<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style1.css">
  <!-- Latest compiled and minified CSS -->
</head>
<body>
    <div class="container">
   <form action="/register/login" method="POST">  
        <h1>Login</h1>
          <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email"> 
          <input type="password" class="form-control" id="inputPassword4" name="password" placeholder=" Password">
          <button type="submit" class="btn btn-primary btnclk" value="register/login">Login </button> 
      </form>
      </div>
      <img src="https://media.tenor.com/Qc5gPgYobfUAAAAi/man-walking.gif"alt="Boy Image"  class='boy-logo' >
      <img src="https://media.tenor.com/VeOE3iuqJGcAAAAi/mbb-monkey-baby-business.gif"alt="Boy Image"  class='buss' >
      
</body>

</html>