<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style4.css">
    <title>Document</title>
</head>

<body >
    <div style="display: flex;" >
  <div  class="inform">
 <h3>Selected <span class="dot1"></span>
</h3>
   <h3>Booked   <span class="dot2"></span></h3>
   <h3>Available  <span class="dot3"></span></h3>
        </div>

         <div class="seat" id="booking">
      
  
<input type="text" value="{{bid }}" id="bid" hidden> 

    </div>
    </div>
    
   
 <button type="button" class="paymentbtn" onClick="booked()">Confirm Tickets</button>
    <script src="/js/main2.js"></script>
</body>

</html>