<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style2.css">
</head>
<body>
 
   <form action="/register/signUp" method="POST">  
    <div class="ball"> 

  </div>
        <h1>Sign Up</h1>
          <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email"> 
          <input type="text" class="form-control" id="inputname" name="firstname" placeholder="Name"> 
          <input type="tel" class="form-control" id="Number" name="phone" placeholder="Number">
          <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
          <input type="password" class="form-control" id="inputPassword4" name="confirmpassword" placeholder="Confirm Password">
          <button type="submit" class="btn btn-primary btnclk" value="register/signUp">Create account</button> 

          <div class="ball2"> 

          </div>
      </form>
</body>
</html>