body {
  font-family: Arial, sans-serif;
  background-color: black;
  /* padding: 20px; */
}

.container {
  position: relative;
}

form {
  background-color: #1a1a1bc9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px whitesmoke;
  width: 300px;
  margin: 0 auto;
  /* height: 400px; */
  margin-top: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2rem;
  background-color: #36454f;
  color: white;
}

.btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 24px;
}
.boy-logo {
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
  height: 140px;
  bottom: 0%;
  left: 0%;
  /* position: relative; */
  animation: mymove 30s;
  /* animation-delay: 3s; */
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  0% {
    left: 0vw;
    opacity: 100%;
  }
  50% {
    left: 68vw;
    opacity: 100%;
  }

  70% {
    left: 78vw;
    opacity: 0%;
  }

  99%{
    left: 78vw;
  }

  100%{
    
    opacity: 0%;
    left: 0vw;
  }
}
.buss {
  position: absolute;
  bottom: 0;
  right: 0%;
}
.btn:hover {
  background-color: lightblue;
}

.btnclk {
  margin-top: 10px;
}

/* Optional: Style for input focus */
.form-control:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
